<nav>
  <a routerLink="/">Home</a>&nbsp; <a routerLink="/vuelos">Vuelos</a>&nbsp;
  <a routerLink="/demoutilerias">Utilerias</a>&nbsp;
  <a routerLink="/personas">Personas</a>
</nav>
<router-outlet></router-outlet>

<!-- <app-ejemplo></app-ejemplo>
<p>
  Soy Dr. {{ Name }}, especialidad en {{ Especialidad }} con {{ Anos }} años de
  experiencia
</p>
<button (click)="demo()">Demo</button>
<app-quinto></app-quinto>
<app-counter></app-counter> -->
<!-- <app-info-persona [nombre]="Name" apellido="Peralta"></app-info-persona> -->

<!-- <app-matematico
  #appMath1
  [num1]="-4"
  [num2]="4"
  [operacion]="'resta'"
  (buttonClicked)="onClick($event)"
></app-matematico>
<p>
  {{ appMath1.num1 }} {{ appMath1.operacion }} {{ appMath1.num2 }} =
  {{ appMath1.resultado }}
</p>

<p *ngIf="Name === 'Jorge Ortegas'; else noSeCumple">Se cumplió la condicion</p>
<ng-template #noSeCumple>No se cumplió la condición</ng-template>

<br />

Dato: <input type="text" id="txtDato" [(ngModel)]="dato" />
{{ dato }}

<p appCopyright></p>
<input type="text" appNumeric />
<div *appPermission="['admin', 'agent']">permission granted</div> -->

<!-- <app-vuelos></app-vuelos> -->
